In [1]:
import pandas as pd
from pandas import read_csv
import numpy as np

from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
fore=pd.read_csv("E:/SHRADDHA/DA-DS Assignments/DS Assignments/17.A_SVM/forestfires.csv")
fore.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [3]:
fore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   month          517 non-null    object
 1   day            517 non-null    object
 2   FFMC           517 non-null    float64
 3   DMC            517 non-null    float64
 4   DC             517 non-null    float64
 5   ISI            517 non-null    float64
 6   temp           517 non-null    float64
 7   RH             517 non-null    int64
 8   wind           517 non-null    float64
 9   rain           517 non-null    float64
 10  area           517 non-null    float64
 11  dayfri         517 non-null    int64
 12  daymon         517 non-null    int64
 13  daysat         517 non-null    int64
 14  daysun         517 non-null    int64
 15  daythu         517 non-null    int64
 16  daytue         517 non-null    int64
 17  daywed         517 non-null    int64
 18  monthapr       517 non-null    int64
 19  monthaug       517 non-null    int64
 20  monthdec       517 non-null    int64
 21  monthfeb       517 non-null    int64
 22  monthjan       517 non-null    int64
 23  monthjul       517 non-null    int64
 24  monthjun       517 non-null    int64
 25  monthmar       517 non-null    int64
 26  monthmay       517 non-null    int64
 27  monthnov       517 non-null    int64
 28  monthoct       517 non-null    int64
 29  monthsep       517 non-null    int64
 30  size_category  517 non-null    object
dtypes: float64(8), int64(20), object(3)
memory usage: 125.3+ KB

In [4]:
forest=fore.drop(fore.columns[11:30],axis=1)
forest.head()

  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area size_category
0   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0         small
1   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0         small
2   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0         small
3   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0         small
4   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0         small

In [11]:
forest.month.replace(('jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'),(1,2,3,4,5,6,7,8,9,10,11,12),inplace=True)
forest.day.replace(('mon','tue','wed','thu','fri','sat','sun'),(1,2,3,4,5,6,7),inplace=True)
forest.size_category.replace(('small','large'),(0,1),inplace=True)

In [12]:
array=forest.values
x=array[:,0:11]
y=array[:,11]

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [14]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((361, 11), (156, 11), (361,), (156,))

# GridSearchCV

In [15]:
import warnings
warnings.filterwarnings('ignore')

In [16]:
clf = SVC()
param_grid = [{'kernel':['rbf'],'gamma':[50,5,10,0.5],'C':[15,14,13,12,11,10,0.1,0.001] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(x_train,y_train)

GridSearchCV(cv=10, estimator=SVC(),
             param_grid=[{'C': [15, 14, 13, 12, 11, 10, 0.1, 0.001],
                          'gamma': [50, 5, 10, 0.5], 'kernel': ['rbf']}])

In [18]:
gsv.best_score_
gsv.best_params_

{'C': 15, 'gamma': 0.5, 'kernel': 'rbf'}

In [19]:
clf=SVC(C=15,gamma=0.5)
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
acc=accuracy_score(y_test,y_pred)*100
print("Accuracy=",acc)
confusion_matrix(y_test,y_pred)

Accuracy= 76.28205128205127

array([[118,   0],
       [ 37,   1]], dtype=int64)

In [20]:
#kernel=Poly
clf = SVC()
param_grid = [{'kernel':['poly'],'gamma':[50,5,10,0.5],'C':[15,14,13,12,11,10,0.1,0.001] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(x_train,y_train)

GridSearchCV(cv=10, estimator=SVC(),
             param_grid=[{'C': [15, 14, 13, 12, 11, 10, 0.1, 0.001],
                          'gamma': [50, 5, 10, 0.5], 'kernel': ['poly']}])

In [21]:
gsv.best_score_
gsv.best_params_

{'C': 15, 'gamma': 50, 'kernel': 'poly'}

In [23]:
clf=SVC(C=15,gamma=50,kernel='poly')
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
acc=accuracy_score(y_test,y_pred)*100
print("Accuracy=",acc)
confusion_matrix(y_test,y_pred)

Accuracy= 96.7948717948718

array([[113,   5],
       [  0,  38]], dtype=int64)